*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
/*商品左边图片库*/
.productsListLeft{
	border: 1px solid #CCC;
	padding: 0;
}
#imgBox{
	padding: 15px 0;
	
}
#imgBox img{
	display: block;
	margin: 0 auto;
}

#imgList ul{
	margin: 0 auto;
}
#imgList li{
	float: left;
	width: 20%;
	padding: 5px;
	border: 1px solid #ccc;
	cursor: pointer;
}
#imgList li img{
	width: 100%;
}
/*商品右边详情*/
.productsListRight{
	padding-left: 5%;
}
.productsTitle p{
	color: red;
}
.monery{
	padding: 5px;
	/*background: #f3f3f3;*/
	border-radius: 4px;
}
.moneryNow{
	color: red;
	font-family: "microsoft yahei";;
}
.moneryOld{
	text-decoration: line-through;
	font-size: 20px
}
.buyList{
	padding: 5px;
}
#nub{
	color: red;
}
.shopNub{
	margin: 10px 0;
}
.shopNub span{
	line-height: 30px;
}
.dnubBox{
	display: inline-block;
	width: 20%;
	border: 1px solid #ccc;
}
.dnubBox input{
	width: 30%;
	height: 30px;
	border: 0;
	font-weight: bold;
}
.dnubBox i{
	display: inline-block;
	width: 30%;
	height: 31px;
	background: #ccc;
	text-align: center;
	line-height: 30px;
}
.dnubBox .les{
	float: left;
}
.dnubBox .add{
	float: right;
}
.dnubBox i{
	display: inline-block;
	width: 30.5%;
	height: 31px;
	background: #ccc;
	text-align: center;
	line-height: 30px;
}

.dnubBox i:hover{
	background: #bbb;
	cursor: pointer;
	-moz-user-select: none;
}
.shopButton button{
	width: 25%;
	color: #fff;
	margin: 40px 10px 10px 0;
	background: rgb(255, 190, 50);
	font-size: 20px;
	line-height: 50px;
	border: 0;
	border-radius: 8px;
	transition: all 0.2s;
}
@media(max-width: 768px) {
	.shopButton button{
	width: 40%;
	}
}
.shopButton button:hover {
	background: #4b4;
}
/*.productsDetail{
	overflow: scroll;
}*/
.productsDetail h3{
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.productsDetail img{
	display: block;
	width: 100%;
	max-width: 750px;
	margin: auto;
}
