* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: microsoft yahei;
	font-size: 12px;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}


/*nav*/

.changeColor {
	background: #def;
}

/*slider*/
#slideBox {}
#slideBox {
	overflow: hidden;
	position: relative;
	/*relative不能放overflow*/
}
#slider {
	position: relative;
	top: 0;
	left: calc(-100%);
	left: -moz-calc(-100%);
	left: -webkit-calc(-100%);
	width: 600%;
}
#slider a,
#slider a img,
.bgImgs {
	float: left;
}
#slider a {
	width: calc(100% / 6);
	width: -moz-calc(100% / 6);
	width: -webkit-calc(100% / 6);
}
.slideArrow {
	overflow: visible;
	display: none;
	width: 100%;
	height: 0;
	margin-top: -65px;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 100;
}
@media (max-width: 768px) {
	.slideArrow {
		display: block;
	}
}
.slideArrow i {
	display: block;
	padding: 10px;
	background: rgba(0, 0, 0, 0.2);
	text-align: center;
	font-style: normal;
	font-family: arial;
	font-size: 40px;
	color: #fff;
	z-index: 2;
	cursor: pointer;
	-moz-user-select: none
}
#prev {
	float: left;
}
#next {
	float: right;
}
.bgImgs {
	width: 100%;
	height: 100%;
}
.slideBox:hover .slideArrow {
	display: block;
}
.slideArrow i:hover {
	background: rgba(0, 0, 0, 0.5);
}
#slideDots {
	width: 216px;
	height: 20px;
	margin: 0 auto;
	cursor: pointer;
}
#slideDots i {
	float: left;
	width: 50px;
	height: 8px;
	margin: 2px;
	background: #333;
	border: 1px solid #FFF;
	border-radius: 4px;
	/*-webkit-transition: background-color ease-in .3s;
	-moz-transition: background-color ease-in .3s;
	-o-transition: background-color ease-in .3s;
	transition: background-color ease-in .3s;*/
}
#slideDots .focus {
	background: orangered;
}

/*products*/
.products span {
	display: block;
	text-align: center;
}

/*firends-link*/
.friendsLink img {
	margin: 10px 0;
	transition: all 0.6s;
}
.friendsLink img:hover {
	box-shadow: 10px 10px 8px #888;
	-webkit-box-shadow: 10px 10px 8px #888;
	-moz-box-shadow: 10px 10px 8px #888;
	-o-box-shadow: 10px 10px 8px #888;
}

/*@media (min-width:768px ) {
	.friendsLink1 a{
		float: right;
	}
	.friendsLink2 a{
		float: left;
	}
}*/

/*footer*/
.footer {
	height: 40px;
	padding: 0;
	background: #def;
}
.footerInner {
	width: 1000px;
	height: 20px;
	margin: 0 auto;
}
.footer span {
	display: inline-block;
	line-height: 40px;
	color: #777;
}
.footer span:first-child {
	margin-right: 10px;
}
.right ul {
	float: right;
	height: 40px;
	margin-right: 20px;
	margin-bottom: 0;
}
.footer ul li {
	float: left;
}
.footer ul li a {
	display: block;
	line-height: 40px;
	padding: 0 5px;
	color: #777;
}
.footer ul li a:hover {
	text-decoration: underline;
}
.sel {
	float: right;
	padding: 10 5px;
	color: #666;
}
select {
	margin: 10px;
}
option {
	padding: 1px 5px;
	color: #666;
}

/*支付页面*/

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#payBox {
	max-width: 600px;
	margin: 40px auto;
}
#payBox input,
#payBox button,
#payBox h2 {
	display: block;
	margin: 20px auto;
	font-size: 20px;
	line-height: 40px;
}
#payBox h2 {
	height: 40px;
	color: #666;
	font-size: 28px;
	text-align: center;
}
#payBox input {
	width: 60%;
	padding: 0 5%;
	color: #aaa;
	border: 1px solid #ccc;
	border-radius: 8px;
}
#payBox select{
	height: 36px;
	color: red;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}
#payBox option{
	color: red;
	font-size: 14px;
}
#payBox p{
	width: 55%;
	margin: 0 auto;
}
.monery{
	color: red;
}
#payBox p input{
	display: inline;
}
#payBox p span{
	font-size: 1.4em;
}
#payBox #pay{
	width: 50%;
	color: #fff;
	margin-bottom: 10px;
	background: rgb(255, 190, 50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}
#payBox #pay:hover{
	background: #8d8;
}
#payBox > a{
	display: inline-block;
	padding: 5px 10px;
	color: black;
	background: #ccc;
	font-size: 18px;
	border-radius: 4px;
}
#payBox > a:hover{
	background: #ddd;
}
#payBox button {
	width: 50%;
	color: #fff;
	margin-bottom: 10px;
	background: rgb(255, 190, 50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}
#payBox .payWrap input{
	color: #fff;
	background: rgb(255, 190, 50);
}
#payBox .payWrap input:hover {
	background: #8d8;
}
#payBox .payMent .tPay{
	background: #8d8;
	box-shadow: 5px 5px 5px #5a5;
}
#payBox .payMent{
	position: relative;
}

#payBox .payMent>h3{
	position: absolute;
	margin-top: 0;
}
@media (max-width: 480px ) {
	#payBox .payMent>h3{
		position: static;
		margin-top: 0;
	}
}
.otherPay {
	width: 50%;
	margin: 0 auto;
}
.otherPay a {
	color: #aaa;
}
.payWrap{
	width: 60%;
	margin: 0 auto;
}
.aliPay {
	float: left;
}
.tenPay {
	float: right;
}
/*支付界面////弹窗*/

#mask{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
}
#tipBox{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 20%;
	padding: 10px;
	transform: translate(-50%,-50%);
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	z-index: 999;
}
@media (max-width:768px ) {
	#tipBox{
		width: 60%;
	}
}
#tipBox h2{
	text-align: center;
}
#login{
	width: 150px;
	height: 50px;
	margin: 20px 105px;
	color: #fff;
	background: rgb(255,190,50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}
#login:hover{
	background: #8d8;
}
#tipBox p{
	margin:15px auto 0;
	text-align: center;
	font-size: 20px;
}
#tipBox p span{
	font-size: 18px;
}
#tipBox p span:last-child{
	color: red;
}
#close{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 25px;
	height: 25px;
	background: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 20px;
	line-height: 20px;
}
#close:hover{
	color: red;
	background: #eee;
	cursor: pointer;
}
/*注册界面*/

/*//////////////////////////////////////////////////////////////////////*/
#signinBox{
	width: 600px;
	margin: 50px auto 0;
}
#signinBox .agr p,#signinBox .agr span{
	font-size: 16px;
}
#signinBox > h2{
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
}
.login3{
	width: 18%;
	margin: 0 auto;
}
.login3 a{
	color: red;
}
.login3 a:hover{
	color:green;
}
#signinBox li > label{
	display: inline-block;
	width: 20%;
	font-size: 20px;
}
#signinBox li > input{
	display: inline-block;
	width: 70%;
	margin: 10px auto;
	padding: 10px;
	color: #444;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.verifyBox input{
	width: 20%;
	margin: 2px;
	margin-left: 21%;
	padding: 5px;
	font-size: 16px;
}
.verifyBox button{
	width: 15%;
	margin: 2px;
	padding: 6px;
	color: #666;
	background: #fed;
	font-size: 12px;
	border: 0;
	border-radius: 4px;
}
.verifyBox button:hover{
	background: #dec;
	color: #000000;
	cursor: pointer;
}
.agreenBox{

	margin: 10px auto 10px 22%;
}
li > button{
	display: block;
	width: 30%;
	height: 50px;
	margin: 0 auto;
	color: white;
	background: rgb(255, 190, 50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	transition: all 0.3s;
}
#signinBox li #signin3{
	display: block;
	width: 30%;
	height: 50px;
	margin: 0 auto;
	color: white;
	background: rgb(255, 190, 50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	transition: all 0.3s;
}
#signinBox li #signin3:hover{
	background: #7da;
	cursor: pointer;
}
li > button:hover{
	background: #7da;
	cursor: pointer;
}
#signinBox li #radio{
	position: relative;
	top: 2px;
	width: 20px;
	margin-right: 30px;
	
}
/*三级菜单*/
.dropdown-submenu {  
    position: relative;  
}  
.dropdown-submenu > .dropdown-menu {  
    top: 0;  
    left: 100%;  
    margin-top: -6px;  
    margin-left: -1px;  
    -webkit-border-radius: 0 6px 6px 6px;  
    -moz-border-radius: 0 6px 6px;  
    border-radius: 0 6px 6px 6px;  
}  

.dropdown-submenu .pull-left {  
    float: none;  
}  
.dropdown-submenu.pull-left > .dropdown-menu {  
    left: -100%;  
    margin-left: 10px;  
    -webkit-border-radius: 6px 0 6px 6px;  
    -moz-border-radius: 6px 0 6px 6px;  
    border-radius: 6px 0 6px 6px;  
}  
/*商品列表页，更多*/
.more{
	display: block;
	width: 60%;
	height: 40px;
	margin: 0 auto 20px;
	background: #ccc;
	font-size: 16px;
	border: 0;
	border-radius: 4px;
}
.more:hover{
	color: #fff;
	background: #666;
}
