*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.personalDate{
	width: 40%;
	margin: 40px auto;
}
li{
	
	height: 30px;
	padding: 20px;
}
input{
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
span{
	font-size: 18px;
}
button{
	width: 100px;
	height: 35px;
	background: rgb(255,190,50);
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button:hover{
	background: #ada;
	cursor: pointer;
}
select{
	height: 30px;
	color: #e11;
	font-size: 16px;
	font-weight: 700;
}
option{
	font-size: 16px;
}
