*{
	margin: 0;
	padding: 0;
	text-align: center;
}
h1{
	margin: 30px;
	color: #1c1;
}
p{
	margin: 20px;
}	
p span{
	font-size: 22px;
}
p span:last-child{
	color: red;
}
a{
	
	padding: 5px 10px;
	color: #444;
	background: #fd1;
	font-size: 20px;
	text-decoration: none;
	border-radius: 4px;
}
a:hover{
	background: #1dd;
}