.navbar-right p{
	display: inline-block;
	padding: 15px 0;
}
.navbar-right p a{
	color: red;
}
#userTab{
	width: 60%;
	min-width: 360px;
	margin: 0 auto;
}
}
#userTab > ul > li{
	display: none;
}
#userTab h3{
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}
#userName{
	color: red;
	font: 20px bolder;
}
#drade,#balance{
	color: red;
}
#email,#tel{
	color: #262
}
.personalDate p{
	margin: 20px 10px;
	font-size: 20px;
}
.personalDate .change{
	display: inline-block;
	width: 60px;
	background: #ada;
	font-size: 18px;
	text-align: center;
	border-radius: 4px;
}
.personalDate .history{
	background: #ada;
	height: 40px; 
	padding: 10px;
	line-height: 40px;
	border-radius: 4px;
}

.personalDate a:hover{
	background: #aad;
}
.personalDate ul{
	list-style: none;
} 
#recharge{
	margin-left: 10px;
	padding:2 5px;
	color: #fff;
	background: rgb(255, 190, 50);
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
#recharge:hover {
	background: #8d8;
}
#userTab li > a{
	display: inline-block;
	width: 15%;
	min-width: 150px;
	margin: 5px;
	padding: 10px;
	color: red;
	background: rgb(235, 235, 50);
	text-align: center;
	font-size: 26px;
	font-weight: 700;
	border-radius: 4px;
}
#userTab li > a:hover{
	background: #8d8;
}
/*订单管理*/
.orderTab li{
	padding: 20px;
	background: #ddd;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 8px;
}
@media(max-width: 768px) {
	.orderTab li{
		width: 80%;
		margin: 5px 0;
	}
}
.orderTab li:hover{
	background: #aaa;
}
.orderCon li{
	display: none;
}
.orderCon li > div{
	margin: 10px auto;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 8px;
	
}

.sell{
	display: inline-block;
	color: red;
	font-size: 16px;
}
.payBefor > button{
	padding:2 5px;
	color: #fff;
	background: rgb(255, 190, 50);
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
.payBefor > button:hover {
	background: #8d8;
}
.productsName{
	margin-right: 10px;
	color: red;
	font-size: 16px;
}
.productsSell{
	color: red;
}
/*已支付订单*/
.payAfter > button{
	padding:2 5px;
	color: #fff;
	background: #337;
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
.payAfter > button:hover {
	background: rgb(50, 150, 190);	
	
}
/*已支付订单*/
.orderOff > button{
	padding:2 5px;
	color: #fff;
	background: #181;
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
.orderOff > button:hover{
	background: rgb(50, 190, 50);	
}
/*收货地址*/
.address span{
	font-size: 22px;
}
.address p button{
	padding:2 5px;
	color: #222;
	background: #ccc;
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
.address p button:hover{
	background: #666;
}
.address > button{
	padding:2 5px;
	color: #fff;
	background: #822;
	font-size: 16px;
	border: 0;
	border-radius: 8px;
}
.address > button:hover{
	background: rgb(100, 100, 50);
}
/*我的收藏*/
.collect {
	margin: 10px auto;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 8px;
}

.collect a > div{
	margin: 5px;
	background: #ccd;
	border-radius: 4px;
}
.collect a:hover > div{
	background: #bdb;
}
.collect a > div img{
	width: 100%;
	margin: 5px;
	border-radius: 5px;
}
.collect a > div span{
	display: block;
}
.collect a > div > div{
	float: left;
}
.collect a > div > div:last-child{
	margin-top: 30px;
}
@media (max-width:1000px ) {
	.collect a > div > div:last-child{
		margin: 10px 0;
	}
}




/*订单管理*/

.orderCon li > div > a > div{
	margin: 5px;
	background: #ccd;
	border-radius: 4px;
}
.orderCon li > div > a:hover > div{
	background: #bdb;
}
.orderCon li > div > a > div img{
	width: 100%;
	margin: 5px;
	border-radius: 5px;
}
.orderCon li > div > a > div span{
	display: block;
}
.orderCon li > div > a > div > div{
	float: left;
}
.orderCon li > div > a > div > div:last-child{
	margin-top: 30px;
}
@media (max-width:1000px ) {
	.orderCon li > div > a > div > div:last-child{
		margin: 10px 0;
	}
}